/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
    color: #333;
    transition: background-color 0.5s, color 0.5s;
}

header {
    background-color: #007BFF;
    color: #fff;
    padding: 20px;
    text-align: center;
}

header h1 {
    margin: 0;
}

main {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Estilos del modo oscuro */
body.dark-mode {
    background-color: #333;
    color: #fff;
}

.dark-mode header {
    background-color: #222;
}

/* Botón de Modo Oscuro */
#dark-mode-toggle {
    background-color: transparent;
    border: none;
    color: #007BFF;
    cursor: pointer;
}

/* Estilos de los datos de contacto */
.contact-info h2 {
    margin-top: 0;
}

.contact-info ul {
    list-style: none;
    padding: 0;
}

.contact-info li {
    margin: 10px 0;
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #007BFF;
    color: #fff;
}
